<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    
  
    
    
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>profile</servlet-name>
        <servlet-class>profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addpost</servlet-name>
        <servlet-class>addpost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>like</servlet-name>
        <servlet-class>like</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addreply</servlet-name>
        <servlet-class>addreply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcomment</servlet-name>
        <servlet-class>addcomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newpost</servlet-name>
        <servlet-class>newpost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likecomment</servlet-name>
        <servlet-class>likecomment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registeraa</servlet-name>
        <servlet-class>registeraa</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addpost</servlet-name>
        <url-pattern>/addpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>like</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addreply</servlet-name>
        <url-pattern>/addreply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcomment</servlet-name>
        <url-pattern>/addcomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newpost</servlet-name>
        <url-pattern>/newpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likecomment</servlet-name>
        <url-pattern>/likecomment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registeraa</servlet-name>
        <url-pattern>/registeraa</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
</web-app>
